<!doctype html>
<title>sdhash server</title>
<script type=text/javascript>
	var $SCRIPT_ROOT="";
</script>
<script type="text/javascript" src="static/jquery.js"></script>
<script type="text/javascript" src="static/jquery.dataTables.js"></script>
<script type="text/javascript" src="static/TableTools.js"></script>
<script type="text/javascript" src="static/ZeroClipboard.js"></script>
<script type="text/javascript" src="static/jquery-ui-1.8.22.custom.min.js"></script>
<link rel="stylesheet" href="static/jquery-ui-1.8.22.custom.css" type="text/css" charset="utf-8"/>
<link rel="stylesheet" href="static/jquery.dataTables_themeroller.css" type="text/css" charset="utf-8"/>
<link rel="stylesheet" href="static/TableTools.css" type="text/css" charset="utf-8"/>
<link rel="stylesheet" href="static/site.css" type="text/css" charset="utf-8"/>
{% block body %}{% endblock %}
